<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donation</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <form action="." method="post">
                {% csrf_token %}
                <label>mete kantite kob wap voye a:</label>
                <input name="amount" id="id_amount" />
                <button type="submit">voyel ale</button>
            </form>
        </div>
    </div>
</body>

</html>